ZetaTradingTechTask/ZetaTradingTechTaskService/obj
ZetaTradingTechTask/ZetaTradingTechTaskService/bin
ZetaTradingTechTask/ZetaTradingTechTaskData/obj
ZetaTradingTechTask/ZetaTradingTechTaskData/bin
ZetaTradingTechTask/ZetaTradingTechTaskAPI/obj
ZetaTradingTechTask/ZetaTradingTechTaskAPI/bin
ZetaTradingTechTask/.idea
